.box {
  box-sizing: border-box;
}
.button {
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 12px;
}
